<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <!--移动设备优先 屏幕缩放比例自适应-->
        <meta name="viewport"
              content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
        <!--收藏夹图标-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='static/images/icon.jpg') }}">


        <title>{% block title %}boobear{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/phone3.css') }}">
            <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
    {% endblock %}
</head>
<body class="app m_container_max">
{% block body %}
    <nav>
        {% block nav %}
            <div class="m_top_bar m_container_max">
                <div class="nav_top">
                    <div class="nav_left">
                        {% block nav_left %}
                            {# <a href="/"><img class="nav_logo3" src="{{ url_for('static',filename="/static/images/logo.png") }}"></a>#}
                            {# <i class="m-font-return"></i>#}
                        {% endblock %}
                    </div>
                    <div class="nav_search nav_title nav_main">
                        {% block nav_main %}
                            <form id="search_from" action="/search" method="post" class="nt-search">
                                <div class="inner ll">
                                    <i class="button"></i>
                                    <input id="search_text" name="search_text" class="textarea" type="search"
                                           placeholder="大家都在搜：银河补习班333 enter键搜索">
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                    <div class="nav_right">
                        {% block nav_right %}
                            <div class="lite-icon-msg">
                                <em class="m-bubble-red" style="display: none;">14</em>
                            </div>
                            <div class="lite-icon-new">
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </nav>
    <main>
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="flash alert alert-{{ message[0] }}" id="close" role="alert">
                <button class="close" onclick="turnFoff('close')">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        {% block content %}

           <img src="{{ url_for('static',filename='static/images/icon.jpg') }}" id="m_bottom_bar_img_id" onClick="change_pic()">

        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            <div class="m_bottom_bar m_container_max">
                <div class="m_bottom_bg">
                    <div class="m_bottom_bg_img">

                    </div>
                </div>
                <ul class="nav_list">
                     <li class="item">
                        <a href="#" title="背景" rel="nofollow">
                        <figure class="figure">
                            <i class="icon_me"></i>
                            <figcaption class="text">我</figcaption>
                        </figure>
                    </a>
                    </li>
                    <li class="item active">
                        <a href="#" title="探索">
                        <figure class="figure">
{#                            <i class="icon_home_active"></i>#}
                            <i class="icon_home"></i>

                        </figure>
                    </a>
                    </li>
                    <li class="item">
                        <a href="#" title="绘本">
                        <figure class="figure">
                            <i class="icon_lib "></i>
{#                            <i class="icon_lib_active"></i>#}
                            <figcaption class="text">绘本</figcaption>
                        </figure>
                    </a></li>
                    <li class="item">
                        <a href="#" title="书架" rel="nofollow">
                        <figure class="figure">
                            <i class="icon_bookshelf"></i>
                            <figcaption class="text">书架</figcaption>
                        </figure>
                    </a></li>






                </ul>
            </div>
        {% endblock %}

    </footer>
    {% block scripts %}
        <script>
            function change_pic() {
                var imgObj = document.getElementById("m_bottom_bar_img_id");
                if (imgObj.getAttribute("src", 2) == "{{ url_for('static',filename='static/images/icon.jpg') }}") {
                    imgObj.src = "{{ url_for('static',filename='static/images/logo.png') }}";
                } else {
                    imgObj.src = "{{ url_for('static',filename='static/images/icon.jpg') }}";
                }
            }
        </script>
    {% endblock %}
{% endblock %}
</body>
</html>