<style>

ul.clubsList, ul.bookList, ul.timeline_list {
    width: 670px;
    margin-right: -15px;

}

ul.bookList li {
    width: 111px;
    height: 185px;
    float: left;
}

ul.bookList li p.info {
    padding: 0 10px 0 0;
}

ul.bookList li p.title {
    width: 102px;
    height: 16px;
    overflow: hidden;
}

ul.bookList li p.title {
    width: 102px;
    overflow: hidden;
    font-size: 12px;
}

ul.bookList li p.info {
    padding: 0 10px 0 0;
}

.book_img {
    padding: 1px;
    border: 1px solid #EEE;
    width: 96px;
    height: 136px;
    overflow: hidden;
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

ul.clubsList li {
    float: left;
    width: 111px;
    height: 145px;
}

img.club_img {
    margin: 2px 2px 0 0;
    border: 1px solid #eee;
    padding: 1px;
    width: 96px;
    height: 96px;
}


span.ico_love {
    background: url("../static/images/ico_list_love.gif") no-repeat 0 0;
    padding: 0 0 0 13px;
    font-size: 10px;
    line-height: 10px;
    color: #AAA;
}

span.ico_members {
    background: url("../static/images/ico_list_member.gif") no-repeat 0 0;
    padding: 0 0 0 13px;
    font-size: 10px;
    line-height: 10px;
    color: #AAA;
}




</style>