{% extends 'base.html' %}
{% block title %}boobear{% endblock %}

{% block styles %}
    {{ super() }}

    <style>
    {#导航介绍#}

.slogan {
    color: #315898;
    width: 590px;
    margin-left: 80px;

}

.slogan li {
    float: left;
}

.slogan li div {
    padding: 2px 10px 2px 10px;
}

.slogan strong {
    font-size: 24px;
}

.slogan small {
    font-size: 12px;
}


div#intro_boobear {
    width: 980px;
    height: 135px;
    background: url("../static/images/home_jj.gif") no-repeat;
    background-position: right bottom;
    position: relative;
}

.boobearMusume {
    width: 980px;
}

.boobearMusume img {

    margin-left: 550px;
    position: relative;
    margin-top: -60px;


}

div#boobearHome {

    width: 980px;

}

div#boobearHome #main_left {
    width: 690px;
    float: left;
}

div#boobearHome #dashboard_right {
    width: 290px;
    float: right;
}










    ul.timelineTabs {
    padding: 0 0 0 5px;
    height: auto;
    background: #FFF;
    border: none;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 3px 3px 0 0;
}

    ul.timelineTabs li {
    float: left;
    font-size: 13px;
}
    ul.timelineTabs li a.top_focus {
    color: #FFF;
    background: #F09199;
}
    ul.timelineTabs li a {
    margin: 5px 5px 5px 0;
    padding: 2px 10px;
    border: none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
    ul.timelineTabs li a {
    display: block;
    color: #888;
    margin: 2px 0 0 0;
    padding: 5px 15px 5px 15px;
}

    ul.timeline_list li {
    overflow: hidden;
    margin-top: 5px;
    padding-bottom: 5px;
}

ul.timeline_list li div.avatar {
    float: left;
    display: inline;
    padding-right: 2px;
}

ul.timeline_list li div.info {
    padding-bottom: 5px;
    margin-left: 45px;
    border-bottom: 1px solid #E0E0E0;
    color: #666;
    _height: 30px;
}
    {#内容时间线#}



    .nav_top_main {
    /*top: 2.5rem;*/
    top: 0;
    right: 0;
    left: 0;
    font-size: 1rem;
    color: #a5adb5;
    position: relative;
    /*position: absolute;*/
    line-height: 2.75rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}


.nav_top_main .m_box {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.nav_top_main .nav_item {
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /* position: relative; */
    padding-bottom: .9rem;
    margin-bottom: -.9rem;
    text-align: center;
    padding: 0 .5rem;
}

}
.nav_top_main .nav_item .item_li.cur {
    color: #000;
}

.nav_top_main .nav_item .item_li {
    display: inline-block;
    margin: 0 .75rem;
}

.nav_top_main .nav_item .item_li span {
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

/*.m_top_nav .nav_top_main .nav_item .item_li.cur span::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    transform: translate(-50%,0);*/
/*    bottom: .1875rem;*/
/*    width: 1.5rem;*/
/*    height: .1875rem;*/
/*    border-radius: .125rem;*/
/*    background-color: #FF8200;*/
/*}*/

.nav_top_main .nav_item .item_li.cur span em {
    display: block;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    width: .875rem;
    margin-left: -.4375rem;
    border-top: 2px solid #282f3c;
}

    </style>
{% endblock %}
{% block nav %}
    {{super()}}
        {% endblock %}
{% block content %}
    {{ super() }}
    <div class="nav_top_main m_container_max">
                    <div class="m_box">
                        <div class="slide_wrap">
                            <ul class="nav_item">
                                <li class="item_li cur">
                                    <span>关注<em></em></span>
                                </li>
                                <li class="item_li">
                                    <span>热门<em></em></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    <div id="intro_boobear">
        <div class="intro_boobear_content">
            <div class="slogan">
                <li>
                    <div>
                        <strong>探索</strong>
                        <small>不断充实的绘本图书馆</small>
                    </div>
                    <div>
                        <strong>记录</strong>
                        <small>鼠标标记进度轻松阅过万本书</small>

                    </div>

                </li>

                <li>
                    <div>
                        <strong>分享</strong>
                        <small>写笔记发感想分享学习经验</small>
                    </div>
                    <div>
                        <strong>交流</strong>
                        <small>和附近小伙伴一起学</small>
                    </div>

                </li>
            </div>

            <div class="boobearMusume"><img src="{{ url_for('static',filename='static/images/home_doujin.gif') }}">
            </div>
        </div>
    </div>
    <div id="boobearHome">
        <div class="cards">
            <div id="main_left">
                <ul id="timelineTabs" class="timelineTabs clearit">
                        <li><a id="tab_all" href="#" class="focus">动态</a></li>
                        <li><a id="tab_say" href="#">图书</a></li>
                        <li><a id="tab_subject" href="#">笔记</a></li>
                        <li><a id="tab_progress" href="#">书单</a></li>
                        <li><a id="tab_blog" href="#">讨论</a></li>
                    </ul>
                <ul class="card">
                    <h2 class="sideTitle">动态
                        <small>...<a href="/lib/new" class="l">more</a></small>
                    </h2>
                    <ul class="timeline_list">
                        <li class="status-item" data-sid="2567243840" data-uid="1015631" data-action="1"
                            data-target-type="book" data-object-kind="1001" data-object-id="33477385">
                            <div class="mod" data-status-id="2567243840">

                                <div class="hd "
                                     data-status-url="https://www.douban.com/people/leeforce/status/2567243840/">


                                    <div class="usr-pic">
                                        <a href="https://www.douban.com/people/leeforce/"
                                           onclick="moreurl(this, {&quot;action&quot;: &quot;1&quot;, &quot;from&quot;: &quot;nmbp-2567243840&quot;, &quot;target_type&quot;: &quot;book&quot;, &quot;object_kind&quot;: &quot;1001&quot;})"
                                           title="力总"><img src="https://img3.doubanio.com/icon/u1015631-44.jpg"
                                                           alt="力总"></a>
                                    </div>
                                    <div class="text">
                                        <a href="https://www.douban.com/people/leeforce/"
                                           onclick="moreurl(this, {&quot;action&quot;: &quot;1&quot;, &quot;from&quot;: &quot;nmbp-2567243840&quot;, &quot;target_type&quot;: &quot;book&quot;, &quot;object_kind&quot;: &quot;1001&quot;})"
                                           class="lnk-people">onlyindex</a>
                                        想读


                                    </div>

                                </div>

                                <div class="bd book">


                                    <div class="block block-subject">
                                        <div class="pic">
                                            <a href="https://book.douban.com/subject/33477385/" target="_blank"
                                               onclick="moreurl(this, {&quot;action&quot;: &quot;1&quot;, &quot;from&quot;: &quot;nmb-2567243840&quot;, &quot;target_type&quot;: &quot;book&quot;, &quot;object_kind&quot;: &quot;1001&quot;})"
                                               title="六千零一夜" class="media"><img
                                                    src="https://img1.doubanio.com/view/status/small/public/02fuEm.webp"></a>
                                        </div>
                                        <div class="content">
                                            <div class="title">
                                                <a href="https://book.douban.com/subject/33477385/" target="_blank"
                                                   onclick="moreurl(this, {&quot;action&quot;: &quot;1&quot;, &quot;from&quot;: &quot;nmb-2567243840&quot;, &quot;target_type&quot;: &quot;book&quot;, &quot;object_kind&quot;: &quot;1001&quot;})">六千零一夜</a>
                                                <span class="allstar00"></span>
                                                <strong class="rating_num"></strong>
                                            </div>

                                            <p>☆编辑推荐：
                                                关于埃及的故事，你听过多少？
                                                也许你见过欧洲教堂中的马赛克镶嵌画...
                                            </p>
                                            <div class="info">
                                                <ul>
                                                    <li><span class="label">作者:</span><span>[英]克里斯蒂娜·里格斯</span>

                                                    </li>
                                                    <li><span class="label">出版:</span><span>中国社会科学出版社</span>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="actions">

                                        <span class="created_at" title="2019-07-23 17:36:03"><a
                                                href="https://www.douban.com/people/leeforce/status/2567243840/">7月23日</a></span>

                                        <a href="https://www.douban.com/people/leeforce/status/2567243840/"
                                           class="btn btn-action-reply new-reply" data-action-type="showComments"
                                           data-count="0">
                                            <path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path>
                                        </a>

                                        &nbsp;&nbsp;<a
                                            href="https://www.douban.com/people/leeforce/status/2567243840/"
                                            class="btn btn-key-like  btn-like " data-action-type="like">赞</a>


                                        &nbsp;&nbsp;<a class="btn btn-key-reshare btn-reshare new-reshare "
                                                       data-action-type="reshare">转发</a>


                                    </div>

                                    <div class="others">
                                        <div class="comments">
                                            <div class="comments-items"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li id="tml_18920860" class="clearit tml_item">
                                <span class="avatar"><a href="http://bgm.tv/user/405623" class="avatar"><span
                                        class="avatarNeue avatarReSize40 ll"
                                        style="background-image:url('//lain.bgm.tv/pic/user/m/000/40/56/405623.jpg?r=1548611129')"></span></a></span>
                            <span class="info clearit"><a href="http://bgm.tv/subject/9912"><img
                                    src="//lain.bgm.tv/pic/cover/g/0e/14/9912_LZML8.jpg" alt="" class="rr"></a><a
                                    href="http://bgm.tv/user/405623" class="l">タイタン</a> 看过 <a
                                    href="http://bgm.tv/subject/9912" data-subject-name-cn="日常"
                                    data-subject-id="9912" data-subject-name="日常" class="l">日常</a> <div
                                    class="collectInfo"><span class="sstars9 starsinfo"></span></div>
<p class="date">
54秒前 · web </p>
</span>
                        </li>


                        <li class="">
                            <div class="avatar">
                                <a href="/club/lcsleep" class="avatar">
                                    <img
                                            src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                            alt=""
                                            class="avatar">
                                </a>
                            </div>
                            <div class="info clearit">
                                <a href="#">
                                    <img src="{{ url_for('static',filename='static/images/no_icon.jpg') }}" alt=""
                                         class="rr"></a>
                                <a href="user/admin" class="l">admin</a> 发布新书评
                                <a href="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                   class="l">七色</a>
                            </div>
                        </li>
                        <li class="">
                            <div class="avatar">
                                <a href="/club/lcsleep" class="avatar"><img
                                        src="//lain.bgm.tv/pic/club/icon/s/000/00/06/661.jpg?r=1304502789" alt=""
                                        class="avatar"></a></div>
                            <div class="info clearit"><a href="http://doujin.bgm.tv/subject/49962"><img
                                    src="//lain.bgm.tv/pic/dcover/g/79/6c/49962_H8kGw.jpg" alt="" class="rr"></a><a
                                    href="/club/lcsleep" class="l">针葉云</a> 发布了新书评 <a
                                    href="http://doujin.bgm.tv/subject/49962" class="l">花来2.0</a></div>
                        </li>
                        <li class="">
                            <div class="avatar"><a href="/club/eightinchblack" class="avatar"><img
                                    src="//lain.bgm.tv/pic/club/icon/s/000/00/71/7156.jpg?r=1524536528" alt=""
                                    class="avatar"></a></div>
                            <div class="info clearit"><a href="/club/eightinchblack" class="l">八寸黑实验室</a> 发布新书评 <a
                                    href="http://doujin.bgm.tv/subject/49960" class="l">en casa</a></div>
                        </li>
                        <li class="">
                            <div class="avatar"><a href="/club/aokihoshi" class="avatar"><img
                                    src="//lain.bgm.tv/pic/club/icon/s/000/00/08/821.jpg?r=1306948953" alt=""
                                    class="avatar"></a></div>
                            <div class="info clearit"><a href="http://doujin.bgm.tv/subject/49957"><img
                                    src="//lain.bgm.tv/pic/dcover/g/33/4a/49957_KQQnI.jpg" alt="" class="rr"></a><a
                                    href="/club/aokihoshi" class="l">蒼銀之星</a> 发布新书评 <a
                                    href="http://doujin.bgm.tv/subject/49957" class="l">屍娘前線注意報</a></div>
                        </li>
                    </ul>
            </div>


            </div>

                <div>
                </div>
            </div>
{% endblock %}

