

<div class="card">

                    <h2 class="sideTitle">最新社团
                        <small>...<a href="/lib/new" class="l">more</a></small>
                    </h2>
                    <ul class="clubsList">
                        <li>
                            <div class="">
                                <img href="club/club1"
                                     src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                     class="club_img">
                                <a href="club/club1">社团1</a>
                            </div>
                            <div class="info">
                                <span class="ico_love" title="0人关注">0</span>
                                <span class="ico_members" title="1位成员">1</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img href="club/club1"
                                     src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                     class="club_img">
                                <a href="club/club1">社团2</a>
                            </div>
                            <div class="info">
                                <span class="ico_love" title="1人关注">1</span>
                                <span class="ico_members" title="1位成员">1</span></div>
                        </li>
                        <li>
                            <div>
                                <img href="club/club1"
                                     src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                     class="club_img">
                                <a href="club/club1">社团3</a>
                            </div>
                            <div class="info"><span class="ico_love" title="0人关注">0</span>
                                <span class="ico_members" title="1位成员">1</span></div>
                        </li>
                        <li>
                            <a href="#" class="grid">
                                <img href="club/club1"
                                     src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                     class="club_img">
                                <a href="club/club1">社团4</a>
                            </a>
                            <div class="info"><span class="ico_love" title="0人关注">0</span>
                                <span class="ico_members" title="1位成员">1</span></div>
                        </li>
                        <li>
                            <div>
                                <img href="#" src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                     class="club_img">
                                <a href="#">社团6</a>
                            </div>
                            <div class="info">
                                <span class="ico_love" title="0人关注">0</span>
                                <span class="ico_members" title="1位成员">1</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img href="#" src="{{ url_for('static',filename='static/images/no_icon.jpg') }}"
                                     class="club_img">
                                <a href="#">白鸟探长英语社</a>
                            </div>
                            <div class="info"><span class="ico_love" title="0人关注">0</span>
                                <span class="ico_members" title="1位成员">1</span></div>
                        </li>
                    </ul>
                </div>