
{% extends 'base2.html' %}
{% block title %}home2{% endblock %}

{% block styles %}
    {{ super() }}
    <style>



    </style>
{% endblock %}
 {% block nav %}
            <div class="m_top_bar m_container_max">
                <div class=" m_box m_box_center m_box_center_a m_top_bar_content">
                    <i class="back iconpic"></i>
                <i class=" title m_text_cut">学习记录</i>
                    <i class="share iconpic"></i>
                </div>
            </div>
        {% endblock %}
{% block content %}
    {{ super() }}


{% endblock %}